{{ partial "before-content.html" . }}
    <div class="row post">
        <div class="col-xs-12 col-sm-offset-2 col-sm-8 panel">
            <div class="panel-body">
                <h1>{{ .Title }}</h1>
                <h5>By: {{ .Params.author }}</h5>
                {{ if ne .ReadingTime 1 }}
                    <h5>~ {{ .ReadingTime }} minutes</h5>
                {{else}}
                    <h5>~ {{ .ReadingTime }} minute</h5>
                {{end}}
                <hr />
                <p>{{ .Content }}</p>
                <hr />
                <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Check+out+{{ .Title }}+{{ .Permalink }}&via={{ .Site.Params.twitter}}">
                    <i class="fa fa-twitter"></i> Tweet
                </a>
                <br />
                <br />
                <strong>Published on {{ .Date.Format "January 1, 2006" }}</strong>
            </div>
        </div>
    </div>
{{ partial "after-content.html" . }}