body {
    background-color: #eee;
    color: #777;
}

#hero {
    margin-top: 5%;
}

#avatar {
    max-width: 125px;
}

a {
    color: #777;
}

.post {
    margin-top: 5%;
}

.post p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4em;
    line-height: 1.7em;
}